@import url('https://fonts.googleapis.com/css2?family=Mukta+Malar:wght@400;500;600;700&family=Noto+Sans+Tamil:wght@100..900&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400&display=swap');

:root {
  --main-color: #A90707;
  --post-title: #333333;
  --background: #F2F3F5
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border;
}

body {
  background: var(--background);
  min-height: 100vh;
  font-family: 'Mukta Malar', sans-serif;
}

/*Home page Styles*/
/*Menu and Nav Bars*/
.menu-bar {
  width: 100%;
  height: 56px;
  background: var(--main-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.hamburger-nav {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 10px;
}

.hamburger-nav #logo {
  padding-top: 6px;
}

.hamburger-nav .hamburger-menu .menu-links {
  width: 100%;
  max-height: 0;
  overflow: hidden;
  background: var(--background);
  transition: all 0.3s ease-in-out;
  position: absolute;
  top: 100%;
  right: 0;
}

.hamburger-nav .hamburger-menu .menu-links.open {
  max-height: 100vh;
}
.hamburger-nav .hamburger-menu .hamburger-icon  {
  color: #FFFFFF;
  font-size: 45px;
  cursor: pointer;
  display: flex;
  align-items: center;
  
}

.nav-bar {
  height: 34px;
  width: 100%;
  border-top: 1px solid #FFFFFF;
  background: rgba(0, 0, 0, 1);
}

.nav-bar nav {
  width: 100%;
  height: 34px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.nav-bar nav li {
  list-style-type: none;
  
}

.nav-bar nav li a {
  color: rgba(255, 255, 255, 1);
  text-decoration: none;
  font-weight: 500;
}

main section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/*Main Content*/
/*IMPORTANT NEWS*/
.important-news {
  width: 92%;
  min-height: 300px;
  margin-top: 30px;
  padding: 3px 5px 8px;
  background: rgba(247, 240, 215, 1);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0px 4px 2px rgba(153, 153, 153, .2);
}

.important-news .feature-image-container img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.important-news .feature-image-container {
  width: 94%;
  height: 240px;
  margin: 10px 0 8px 0;
  box-shadow: 0 3px 4px rgba(153, 153, 153, .6);
  border-radius: 5px;
  position: relative;
}
.important-news .feature-image-container .imp-news {
  position: absolute;
  background: var(--main-color);
  color: #FFFFFF;
  font-weight: 500;
  padding: 3px 6px;
  bottom: 18px;
  left: 12px;
  border-radius: 5px;
}

.imp-news-data-container .post-title a {
  font-weight: 700;
  color: rgba(51, 51, 51, 1);
  font-size: 22px;
  line-height: 25px;
  text-decoration: none
}
.imp-news-data-container .post-title {
  width: 95%;
  margin-bottom: 5px;
}

.imp-news-data-container  {
  width: 94%;
}

.imp-news-data-container .time-posted {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 14px;
  margin-bottom: 3px; 
}
/*ROW POSTS*/
.row-posts {
  width: 92%;
  min-height: 500px;
  margin-top: 30px;
  padding: 3px 5px 8px;
  background: rgba(255, 255, 255, 1);
  border-radius: 8px;
  box-shadow: 0 0px 4px 2px rgba(153, 153, 153, .2);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.row-posts .row-posts-cat {
  width: 94%;
  height: 40px;
  background: #000000;
  border-left: 5px solid rgba(202, 0, 2, 1);
  border-radius: 5px;
  margin-top: 15px;
  display: flex;
  align-items: center;
  padding-left: 14px;
}

.row-posts .row-posts-cat h3 {
  color: rgba(255, 255, 255, 1);
  font-weight: 600;
  font-size: 18px;
}

.row-posts .row-post {
  height: 76px;
  width: 94%;
  display: flex;
  margin-top: 16px;
  align-items: center;
}

.row-posts .row-post .featured-image {
  width: 114px;
  height: 76px;
  border-radius: 5px;
  margin-right: 15px;
  box-shadow: 0 1px 4px rgba(153, 153, 153, 1);
  
}

.row-posts .row-post .featured-image img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.row-posts .row-post .row-post-title {
  width: calc(94% - 114px);
  line-height: 25px;
}

.row-posts .row-post .row-post-title a {
  color: var(--post-title);
  text-decoration: none;
  font-weight: 600;
  font-size: 17px;
  line-height: 10px;
  transition: all 0.3s ease-in-out;
}

.row-posts .row-post .row-post-title a:hover {
  color: var(--main-color);
}

/* RECENT POSTS */
.recent-posts {
  width: 92%;
  min-height: 500px;
  margin-top: 30px;
  padding: 3px 5px 8px;
  background: rgba(255, 255, 255, 1);
  border-radius: 8px;
  box-shadow: 0 0px 4px 2px rgba(153, 153, 153, .2);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.recent-posts .recent-posts-cat {
  width: 94%;
  height: 40px;
  background: #000000;
  border-radius: 5px;
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.recent-posts .recent-posts-cat a {
  display: inline-block;
  color: rgba(255, 255, 255, 1);
  font-weight: 600;
  font-size: 18px;
  margin-right: 12px;
  text-decoration: none;
  
}

.recent-posts .recent-posts-cat .selected {
  background: var(--main-color);
  padding: 6.5px 12px;
  border-radius: 5px 0 0 5px;
  
}

.recent-posts .recent-post {
  height: 76px;
  width: 94%;
  display: flex;
  margin-top: 16px;
  align-items: center;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding: 10px 0 0 0;
  
}

.recent-posts .recent-post .featured-image {
  width: 114px;
  height: 76px;
  border-radius: 5px;
  margin-right: 15px;
  box-shadow: 0 1px 4px rgba(153, 153, 153, 1);
  
}

.recent-posts .recent-post .featured-image img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.recent-posts .recent-post .recent-post-title {
  width: calc(94% - 114px);
  line-height: 25px;
}

.recent-posts .recent-post .recent-post-title a {
  color: var(--post-title);
  text-decoration: none;
  font-weight: 600;
  font-size: 17px;
  line-height: 10px;
  transition: all 0.3s ease-in-out;
}

.recent-posts .recent-post .recent-post-title a:hover {
  color: var(--main-color);
}

